 
 
 <aside class="sidebar">
      <a class="logo" href="<%= root_path %>">Track Supply</a>
      <nav>
        <ul>
          <li><a href="<%= individuals_path %>">個体一覧</a></li>
          <li><a href="<%= inventories_path %>">部位一覧</a></li>
          <li><a href="<%= new_individual_path %>" >在庫登録</a></li>
          <li><a href="<%= shipments_path %>">出荷一覧</a></li>
          <li><a href="<%= new_shipment_path %>">出荷登録</a></li>
          <li><a href="#">単価管理</a></li>
          <li><a href="#">売上</a></li>
        </ul>
      </nav>
      <div class="user-profile-stub">
      <if user_signed_in? %>
        <ul>
          <li><a href="<%=edit_user_registration_path %>">ログアウト</a></li>
        </ul>
      </div>
  </aside>