 
 
 <aside class="sidebar">
      <a class="logo" href="<%= root_path %>">Track Supply</a>
      <nav>
        <ul>
          <li><a href="<%= individuals_path %>">個体情報</a></li>
          <li><a href="<%= inventories_path %>">部位在庫リスト</a></li>
          <li><a href="<%= new_individual_path %>" >個体・部位新規作成</a></li>
          <li><a href="<%= shipments_path %>">出荷済みリスト</a></li>
          <li><a href="<%= new_shipment_path %>">出荷新規作成</a></li>
          <li><a href="#">単価管理（使用不可）</a></li>
          <li><a href="#">売上（作成中）</a></li>
        </ul>
      </nav>
      <div class="user-profile-stub">
        <if user_signed_in? %>
          <nav>
            <ul>
              <li><a href="<%=edit_user_registration_path %>">アカウント</a></li>
              <li><a href="<%=destroy_user_session_path %>">ログアウト</a></li>
            </ul>
          </nav>
      </div>
  </aside>