<!DOCTYPE html>
<html>
  <head>
    <title>Tracksupply</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Font Awesome for icons (optional) -->
    <script src="https://kit.fontawesome.com/5d2fcc1ba0.js" crossorigin="anonymous"></script>

  </head>

  

  <header>

    <%= link_to 'Tracksupply', root_path, class: 'header-logo' %>

    <button class="mypage-btn">
      <%= link_to 'My Page',class: 'mypage-btn' %>
    </button>

  </header>

  <body>


    <%= yield %>


  </body>
</html>
